{% extends 'base.html' %}


{% load static %}
{% block menu %}

{% endblock %}

{% block content %}
    <div class="block1">
    <img class="avatar" src="{{picture.photo.url }}" width="250" height="250" alt="user picture">
    <h1>{{ picture.title}}</h1>
    <h6> Updated: <i>{{ picture.uploaded }}</i></h6>
    <h5> Author: {{ picture.author }}</h5>
    {% if request.user.is_authenticated %}
    <a class="btn btn-outline-success" href="{% url 'webapp:picture_update' picture.pk %}"> <i class="fa fa-fw fa-edit"></i></a>
    {% endif %}
    {% if request.user.is_authenticated %}
    <a class="btn btn-outline-danger" href="{% url 'webapp:picture_delete' picture.pk %}"> <i class="fa fa-fw fa-trash"></i></a>
    {% endif %}
    {% if request.user.is_authenticated %}
    <a class="{% if liked %}hidden{% endif %} like " href="{% url 'api:picture_favorite' %}">Add to favorites</a>
    {% endif %}
    {% if request.user.is_authenticated %}
    <a class="{% if not liked %}hidden{% endif %} unlike" href="{% url 'api:picture_unfavorite' %}">Remove to favorite</a>
    {% endif %}
       <h2>Favorited: </h2>
    {% for fav in picture.fav_picture.all %}
        <li><a href="{% url 'accounts:detail' fav.id %}">{{fav.username}}</a></li>
        {% empty%}
        <h5>Nobody =( </h5>
        {% endfor %}
    </div>
{% endblock %}


