
{% extends 'base.html' %}

{% block title %}Network{% endblock %}

{% block content %}
    <h3>Отправленные:</h3>
    <div class="row">

    {% for msg in message %}

    <div class="col-3"><p>Кому: <a href="{% url 'accounts:detail' user.pk%} "> {{ msg.reciever.first_name}} {{msg.reciever.last_name }}</a> </p></div>
            <div class="col-6"> <p> Дата получения: {{msg.created_at}}</p></div>
    <div class="col-3"><p><a href="{% url 'webapp:text_message' msg.pk %}">Прочитать</a></p></div>
        <hr>
    {% endfor %}

    </div>
    
{% endblock %}